<h1>Iniciar Session</h1>

<form action="/session/login" method="post">
    <div>
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password">
    </div>
    <br>

    <input type="submit" value="Iniciar Sesion">
</form>


<div>
    <a href="/api/session/github"><button>Entrar con github</button></a>
</div>