<div>
    <strong>Stock</strong> {{stock}} <br>
    <strong>Precio </strong>${{price}} <br>
    <strong>Categoría</strong> {{category}} <br>
    <strong>Description: </strong>
    <p class="card-text">{{description}}</p>
</div>