<div>
    <table>
        <thead>

        </thead>
        <tbody>
            {{#each docs}}
                <tr>
                    <td>
                        {{this.title}}
                    </td>
                    <td>
                        {{this.description}}
                    </td>
                    <td>
                        {{this.price}}
                    </td>
                </tr>
            {{/each}}    
        </tbody>
    </table>
</div>